html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Libre Baskerville", serif;
}

#search {
  border-radius: 25px;
  padding: 20px;
  width: 50%;
  height: 10px;
  font-family: "Libre Baskerville", serif;
}

#button {
  background-color: #deddda;
  border: none;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}

#tracker {
  padding: 3px;
  background-color: #93c7e6;
  border: solid #93c7e6;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
  font-family: 'Ubuntu Mono', monospace;
}

#link {
  word-break: break-all;
}

#smurfcatimg {
  width: 30%;
}

@media only screen and (max-width: 767px) {
    #smurfcatimg {
        width:100%;
    }
}
